<%= render 'user/layouts/header' %>

<div class="container d-flex flex-column justify-content-center">
  <h1>
    successfully created an appointment
  </h1>
  <%=link_to  'all appointments', all_buyer_appointments_path(current_user.id), class: "btn btn-primary"%>
</div>

