<h3>Congratulations, <%= @user.full_name %></h3>

<p>
you have successfully submitted car details.
your appointment id is : @appointment_id
your application under process once done, we will notify you soon
</p>

<p>Thanks for joining and have a great day!</p>