.seller-image{
  width: 100%;
  height: 210px;
  border-radius: 50%;
  background-color: white;
}
.seller-profile{
  padding: 10px;
}
#map {
  height: 200px;
  width: 200px;
}
.maps{
  height: 100%;
  width: 100%;
}
.profile-pic-outer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}