// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin-login{
    background-color: #024132;
    height: 100vh;
}
.container{
    padding:5% 30% 5% 30%;
}