.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#header {
  position: fixed;
  width: 100%;
}

#sidebar.active {
  margin-left: -250px;
}

.user-content {
  padding:30px;
}

.user-card {
  border: 2px solid blue;
}

#sidebar {
  min-height: 100vh;
  width: 250px;
  background-color: rgb(0, 140, 255);
  cursor: pointer;
}

#sidebar ul li {
  padding: 10px 0px 10px 0px
}

.border-top a {
  all:unset;
}

.border-top a {
  padding:10px;
}
  
.border-top a:hover {
  padding:10px;
  border: none;
  color: white;
}

.fa {
  font-size: 30px;
  margin-right: 10px;
}