.quote-imgs-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
  display: flex;
}
.notify-success {
  text-align: center;
  color: green;
}
.notify-error {
  text-align: center;
  color: red;
}
.fa-trash:hover {
  color:red;
  cursor:pointer;
}
.quote-imgs-thumbs--hidden {
  display: none;
}
.img-preview-thumb {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}