<section>
    <div class="container-fluid p-0">
        <!-- Example single danger button -->
        <div class="d-flex justify-content-around p-5">
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">costs
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">fair(<i class="fa fa-inr"></i> 1,26,532 - <i class="fa fa-inr"></i> 1,37,697)</a>
      <a class="dropdown-item" href="#">good(<i class="fa fa-inr"></i> 1,35,464 - <i class="fa fa-inr"></i> 1,60,026)</a>
      <a class="dropdown-item" href="#">very good(<i class="fa fa-inr"></i> 1,2,532 - <i class="fa fa-inr"></i> 1,37,697)</a>
      <a class="dropdown-item" href="#">excellent<i class="fa fa-inr"></i> 1.26,532 - <i class="fa fa-inr"></i> 1,37,697)</a>
    </div>
  </div>
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">models
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">brands
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
          </div>

      </section>
      <section>
          <div class="container-fluid p-0">
              <div class="d-flex">
              <aside class="sidebar">
                  
                      <ul class="brands list-unstyled">
                          <li class="list-item pt-3">tata</li>
                          <li class="list-item">honda</li>
                          <li class="list-item">audi</li>
                          <li class="list-item">renult</li>
                          <li class="list-item">bmw</li>
                          <li class="list-item">marceeds</li>
                      </ul>

                      <ul class="model-name list-unstyled">
                          <li class="list-item">astorn martin</li>
                          <li class="list-item">XUV 200</li>
                          <li class="list-item">renult 200</li>
                          <li class="list-item">Bmw 78</li>
                          <li class="list-item">amabassodor</li>
                      </ul>
              </aside>
              <div class="main-outer">
                  <div class="container-fluid pt-3" >
                      <div class="d-flex full-width flex-wrap">
                          <div class="car-cards p-3">
                              <div class="img-box">
                              <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                              </div>
                              <div class="car-description">
                                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                              </div>
                              <div class="d-flex justify-content-between">
                                  <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                  <div class="appointment">
                                      <button class="btn btn-info">appoint</button>
                                  </div>
                              </div>
                          </div>
                          <div class="car-cards p-3">
                            <div class="img-box">
                            <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                            </div>
                            <div class="car-description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                <div class="appointment">
                                    <button class="btn btn-info">appoint</button>
                                </div>
                            </div>
                        </div>
                        <div class="car-cards p-3">
                            <div class="img-box">
                            <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                            </div>
                            <div class="car-description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                <div class="appointment">
                                    <button class="btn btn-info">appoint</button>
                                </div>
                            </div>
                        </div>
                        <div class="car-cards p-3">
                            <div class="img-box">
                            <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                            </div>
                            <div class="car-description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                <div class="appointment">
                                    <button class="btn btn-info">appoint</button>
                                </div>
                            </div>
                        </div>
                        <div class="car-cards p-3">
                            <div class="img-box">
                            <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                            </div>
                            <div class="car-description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                <div class="appointment">
                                    <button class="btn btn-info">appoint</button>
                                </div>
                            </div>
                        </div>
                        <div class="car-cards p-3">
                            <div class="img-box">
                            <img class="img-fixed resize-car" src="image/lawyer.png" alt="">
                            </div>
                            <div class="car-description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor enim necessitatibus quasi explicabo, porro ea vero hic atque placeat!</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="icon"><image src="image/icon1.png" style="height:25px;width:25px;"></image></div>
                                <div class="appointment">
                                    <button class="btn btn-info">appoint</button>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </section>