
<div class="container mt-5">
<%= form_with url: forget_password_request_generate_path, method: :put do |f| %>

<div class="form-group">
<%=f.label 'email' %>
<%= f.text_field :email, class: 'form-control' %>
</div>

<%=f.submit 'submit', class: 'btn btn-primary'%>
<% end %>
</div>