
<style>
  h1{
    text-align: center;
  }
  .box{
    width: 400px;
  }
</style>
<div class="container">
  <% if flash.key? :notice %>
    <div class="alert alert-success">
  <%= flash[:notice] %>
  </div>
  <% end %>
  <div class="d-flex request justify-content-center">
    <div class="box">
      <h1><%= @response %></h1>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'login', user_login_get_url %>
  </div>
</div>
