.sidebar {
  width:270px;
  background-color: cornflowerblue;
}
.main-outer {
  width:100%;
}
.list-item {
  padding:10px 20px 10px 20px;
}
.car-cards {
  width: 25%;
}
.resize-car{
  height:230px;
}
.img-fixed {
  width: 100%;
}
.dropdown-menu{
  max-height: 400px;
  overflow-y:  scroll;
}
.filter-head{
  margin: 0px;
  color: white;
}
#filter-open {
  display: none;
}
@media screen and  (max-width: 998px) {
  .filter {
  height: 100%;
  flex-direction: column;
  }
  .resize {
  overflow: scroll;
  max-height: 300px;
  }

  #filter-wrap {
  margin: 0 20px;
  border-radius: 5px;
  display: none;
  }

  #filter-open {
  display: block;
  }

  .car-cards{
  width: 50%;
  }
}
#elastic-search {
  text-align: center;
  width: 100%;
}
#search-field{
  text-align: center;
  width: 500px;
  }
@media screen and (max-width: 576px){
  .car-cards{
  width: 100%;
  }
  #search-field{
  text-align: center;
  width: 100%;
  }
}