.cover-img-wrap{
  position: relative;
  height: 400px;
  width: 100%;
  background-color: thistle;
  border: 1px solid black;
}
.cover-img {
  height: 100%;
  width: 100%;
}
.profile-img {
  width: 100%;
  height: 100%;
}
#cover-img-upload {
  all:unset;
  font-size: 35px;
  margin-left: 20px;
  cursor: pointer;
}
#upload-cover {
  display: none;
  margin-right: 20px;
}
.cover-wrap{
  position: absolute;
  bottom: 2%;
  width: 100%;
  justify-content: space-between;
}
#profile-img-upload {
  all: unset;
  position: absolute;
  bottom: 30%;
  left: 35%;
  font-size: 40px;
  cursor: pointer;
}
.profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}
.profile-img-wrap{
  position: absolute;
  top: 62%;
  left: 45%;
  border-radius: 50%;
  background-color: thistle;
  border: 1px solid black;
}