<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="btn btn-info" id="sidebarCollapse">
            <i class="fas fa-align-left"></i>
                <span>toggle</span>
        </button>
        <div>
            <i class="fa fa-user"></i>
            <span>Name</span>
        </div>
    </div>
</nav>