<footer>
  <div class="footer-wrap bg-dark container-fluid p-0 d-flex flex-direction-column align-items-end">
    <div class="footer-content p-3 text-center w-100">
        carbechoo&copy;2021,AUG
    </div>  
  </div>
</footer>