<footer>
  <div class="footer-wrap">
      <div class="container">
          <div class="footer-content p-3 bg-dark">
            carbechoo&copy;2021,AUG
          </div>
      </div>
  </div>
</footer>